
body{
    background-color: rgb(168, 219, 226);
    
}
h1{
    font-size: 30px;
    text-align: center;
}
h2{
    font-size: 20px;
    text-align: center;
}

.input{
    font-size: 20px;
    text-align: center;
}
.t{
    font-size: 20px;
    text-align: center;
}



a{
    font-size: 20px;
    display: block;
    text-align: center;
}
